<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="main"><img src="assets/img/akvr_logo.png"></a>
    <a class="navbar-brand" href="main" style="margin-left: 20px;">АКВР</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="private-office" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Личный кабинет
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="drone-control">Управление</a>
          <a class="dropdown-item" href="drone-route">Маршрут</a>
          <a class="dropdown-item" href="measurements">Измерения</a>
          <a class="dropdown-item" href="report">Отчёты</a>
        </div>
      </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Выход</a>
        </li>
      </ul>
    </div>
</nav>

<div class="page-content">
<h3 id="componentHeader">Личный кабинет</h3>
<hr>
</div>
