#componentHeader {
  margin-top: 20px;
}

.canvas {
  width: 500px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  cursor: crosshair;
  /*display: inline-block;*/
}

.tools {
  /*display: inline-block;*/
  margin-top: 20px;
}

.workbench input {
  width: 200px;
}
