#componentHeader {
  margin-top: 20px;
}

.canvas {
  width: 500px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  cursor: crosshair;
  position: relative;
  top: 0;
}

.tools {
  /*display: inline-block;*/
  margin-top: 20px;
}

.workbench input {
  width: 200px;
}

#canvasImg {
  opacity: 0.5;
}

.parent {
  position: relative;
  top: 0;
}
.canvasImgLeft {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.canvasImgRight {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

.opacityTable {
  margin-top: 20px;
}
