<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="main"><img src="assets/img/akvr_logo.png"></a>
    <a class="navbar-brand" href="main" style="margin-left: 20px;">АКВР</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto" style="text-align: center;">
        <li class="nav-item">
          <a class="nav-link active" href="settings">Общие<br>Настройки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="drone-registration">Регистрация<br>квадрокоптеров</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="zone-management">Управление<br>зонами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="drone-route">Управление<br>маршрутами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="drone-control">Управление<br>квадрокоптерами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="measurements" style="margin-top: 10px;">Измерения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="report">Управление<br>отчётностью</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="report-archive">Архив<br>отчётов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="guide">Руководство<br>пользователя</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link active" href="main">Выход</a>
        </li>
      </ul>
    </div>
</nav>

<div class="page-content">
<h3 id="componentHeader">Руководство пользователя</h3>
<hr>
</div>
